
@model Chef

<div class="text-center">
    <h1>Add a Chef</h1>
    <form action="addChef" method="post">
        <div class="form-group">
            <label for="FirstName">First Name</label>
            <input asp-for="FirstName" class="form-control">
            <span asp-validation-for="FirstName"></span>
        </div>
        <div class="form-group">
            <label for="LastName">Last Name</label>
            <input asp-for="LastName" class="form-control">
            <span asp-validation-for="LastName"></span>
        </div>
        <div class="form-group">
            <label for="Age">Age</label>
            <input asp-for="Age" class="form-control">
            <span asp-validation-for="Age"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-info">
        </div>
    </form>
</div>