
@model Dish

<div class="text-center">
    <h1>Add a dish</h1>
    <form action="addDish" method="post">
        <div class="form-group">
            <label for="Name">Name</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div> 
        <div class="form-group">
            <label for="Calories"># of Calories</label>
            <input asp-for="Calories" class="form-control">
            <span asp-validation-for="Calories" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Description">Description</label>
            <input asp-for="Description" class="form-control">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Tastiness">Tastiness</label>
            <select asp-for="Tastiness" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span asp-validation-for="Tastiness" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="ChefId">Owner</label>
            <select asp-for="ChefId" class="form-control"> //select requires a name
                @{
                    foreach(Chef c in ViewBag.AllChefs)
                    {
                        <option value="1">@c.ChefId @c.FirstName @c.LastName</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-danger">
        </div>
    </form>
</div>