@{
    ViewData["Title"] = "Home Page";
}
@model Dish


<div class="text-center">
    <h1>Welcome to CRUDelicious</h1>
    <h4>Check out some recent dishes!</h4>
    <a href="/new">Add a dish</a>
    <hr>
        @{
            foreach (Dish item in ViewBag.AllDishes)
            {
                    <p><a href="view/@item.DishID">@item.Name</a> by @item.Chef</p>
            }
        }
</div>