@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Random Passcode Generator</h1>
    <p><a href="/Randomize">Generate a random passcode</a></p>
    <h3>@ViewBag.passcode</h3>
</div>
